.container{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    margin-left: 30px ;
    margin-top: 30px;
}
.img-container{
    margin-left: 80px;
    margin-top: 80px;
    width: 600px;
}
.first-title{
    font-size: 50px;
}
.second-title{
    color: rgba(21, 142, 142, 0.737);
}